button {
  transition: 1.5s;
}

body {
  background-color: DodgerBlue;
}

.table {
  background: lightgoldenrodyellow;
  text-decoration: LightGray;
}

a {
  text-decoration: none;
  color: #000;
}
